.idea
*.log
node_modules
*.orig
.stackdump
.minetest
.theirs
SMS-Station/configs.js
res
!dev/res
dev/css
config.js
.ntvs_analysis.dat
*.njsproj
*.sln
.vs
*.iml
11VS11/dev
11VS11/routes
11VS11/views
11VS11/bin
app.js
package.json
