.idea
*.log
node_modules
*.orig
.stackdump
.minetest
.theirs
SMS-Station/configs.js
res
!dev/res
dev/css
config.js
.ntvs_analysis.dat
*.njsproj
*.sln
.vs
*.iml
game-features/public/res
game-features/routes
game-features/views
game-features/bin
app.js
